In [2]:
import bs4
from bs4 import BeautifulSoup as soup

In [3]:
from requests import get

In [81]:
def get_data():
    url = 'https://unicode.org/emoji/charts/full-emoji-list.html'
    response = get(url)
    html_soup = soup(response.text, 'html.parser')
    
    #Get the fields container 
    code_containers = html_soup.table.find_all("td",class_ = 'code')
    name_containers = html_soup.table.find_all("td",class_ = 'name')
    rchars_container = html_soup.table.find_all("td",class_ = 'rchars')   
    
    #Create a dictionary to hold the data
    emoj_dict = dict()
    
    #Propagate the emoj data to dictionary
    for emoj in range(len(code_containers)):
        #Get fields' data
        emoj_name = name_containers[emoj].text
        emoj_code = code_containers[emoj].text
        emoj_rchars = rchars_container[emoj].text
        emoj_dict[emoj_code] = emoj_name
        
        
    #Done creating the dictionary
    return emoj_dict

In [82]:
emoj_dict = get_data()

In [83]:
#import the pandas library and aliasing as pd
import pandas as pd

#convert dictionary to dataframe
data = emoj_dict

In [84]:
df = pd.DataFrame(list(data.items()), columns=['Emoj Code', 'Emoj Name'])

In [85]:
df

,Emoj Code,Emoj Name
0,U+1F600,grinning face
1,U+1F603,grinning face with big eyes
2,U+1F604,grinning face with smiling eyes
3,U+1F601,beaming face with smiling eyes
4,U+1F606,grinning squinting face
...,...,...
1804,U+1F1FF U+1F1F2,flag: Zambia
1805,U+1F1FF U+1F1FC,flag: Zimbabwe
1806,U+1F3F4 U+E0067 U+E0062 U+E0065 U+E006E U+E006...,flag: England
1807,U+1F3F4 U+E0067 U+E0062 U+E0073 U+E0063 U+E007...,flag: Scotland
1808,U+1F3F4 U+E0067 U+E0062 U+E0077 U+E006C U+E007...,flag: Wales

In [86]:
df.to_csv (r'D:\kingsoft\emoj_dataframe.csv', 
                        index = None, header=True) #Don't forget to add '.csv' at the end of the path